@model Forum.ViewModels.Forum.ForumTopicModel

@{ 
    ViewBag.Title = Model.Forum.Name;
}

<a asp-controller="post" asp-action="Create" asp-route-id=@Model.Forum.Id class="btn btn-newPost">Create Post</a>
@if (Model.posts.Any())
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach (var post in Model.posts)
            {
            <tr>
                <td>
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                    @post.Title
                    </a>
                </td>
                <td>
                    @post.Author
                </td>
                <td>
                    @post.DatePosted
                </td>
                <td>
                    @post.RepliesCount
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h3>
            There are not posts in this subforum.<br/>
            Why not
            <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">
                Create!
            </a>
        </h3>
    </div>
}
