@model Forum.ViewModels.Home.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">
    <div class="row forntPageSplash">
        <div class="col-md-6 forntPageLearn">
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..." />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>
            Latest Posts
        </h3>
        <table class="table ">
            <tbody>
                @foreach(var post in Model.LatestPosts)
                {
                    <tr class="forum-row">
                        <td>
                            <div class="forumLogo" style="background-image: url(@post.ForumView.ForumImgUrl); background-size:100%"></div>
                            <div class="postTitle">
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </div>
                            <div class="postSubTitle">
                                @if (post.RepliesCount == 1)
                                {
                                    <span>
                                        @post.RepliesCount Reply
                                    </span>
                                }
                                @if (post.RepliesCount == 0)
                                {
                                    <span>
                                        No replies.
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @post.RepliesCount Replies
                                    </span>
                                }
                                <span class="postUser">
                                    Author: @post.Author
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

